.App-modal-remove{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  position: fixed;
  background-color: rgba(1,1,1,0.5); 
  top: 0;
}
.div-modal-remove-full {
  width: 55%;
  height: 20%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
}
.div-modal-remove-top{
  width: 90%;
  height: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.div-modal-remove-bottom{
  width: 100%;
  height: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.div-modal-remove-bottom > button{
  display: block;
  margin-right: 5%;
  width: 30%; 
  height: 70%;
  border-radius: 1em;
}
.remove-tool-button{
  border: 1px solid red;
}